@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
    background-color: rgba(0, 0, 0);
}

main{
    padding: 30px;
    background: linear-gradient(
        135deg,
        rgba(0,0,0) 0%,
        rgb(14, 123, 145) 100%
    );
}
.menu{
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.664);
    display: block;
    padding: 5px;
}

.menu p{
    color: white;
    padding: 15px;
}

.corpo{
    background-color: rgba(255, 255, 255, 0.664);
    margin: 30px auto;
    max-width: 700px;
    border: solid 1px black;
    border-radius: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
}

h1{
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.575);
    margin: 10px;
}

h2{
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.575);
    margin: 10px;
}
.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
}

.item{
    width: 110px;
    height: 110px;
    border:solid 2px rgba(0, 0, 0, 0.295);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
}

.item:hover{
    background-color: rgba(255, 251, 0, 0.322);
}
.item img{
    width: 60px;
    height: 60px;
}

.item p{
    color: black;
    font-size: 20px;
    font-weight: 900;
}