body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(70, 108, 111, 0.808);
}

#main-play-area{
    background-color: black;
    background-image: url(../img/backgroud_space.jpg);
    height: 600px;
    width: 800px;
    border-radius: 20px;
    border: solid 1px white;
}

.player-shooter{
    position: relative;
    height: 70px;
    width: 70px;
    left: 20px;
    top: 250px
}

.laser{
    position: relative;
    width: 40px;
    height: 30px;
}

@keyframes slideright {
    from {
        background-position: 0;
    }
    to {
        background-position: 70000%;
    }
}

#main-play-area{
    background-image: url(../img/backgroud_space.jpg);
    background-repeat: repeat-x;
    animation: slideright 300s infinite linear;
}