@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 80vw;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    background-color: #5555557e;
    
}

.blog-box-s{
    grid-column: span 2;
    grid-row: span 2;
}
.blog-box-r{
    grid-column: span 2;
    grid-row: span 6;
}

.blog-box-t{
    grid-column: span 4;
    grid-row: span 6;
}

.blog-box-y{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 5px;
}
.col-div-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    padding: 10px;
    grid-column: span 12;
}

.col-div{
    width: 40vw;
    display: flex;
    flex-direction: column;
    grid-column: span 4;
}