body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #233329, #41b883);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.582);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
h1{
    color: green;
}

#score{
    padding: 5px;
    color: rgb(255, 0, 0);
    margin-bottom: -50px;
    margin-left: -25%;
    position: relative;
}

#score img{
    width: 40px;
}

#score .food{
    margin-bottom: -5px ;
}

#score label{
    font-size: 30px;
}

canvas{
    border-radius: 20px;
    border: 1px solid black;
}