.cabecalho{
    width: 100vw;
    height: 70vh;
    background-color: var(--font-ligth);
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 100px;
}
.cabecalho div{
    width: 50%;
    text-align: center;
}
.cabecalho .direita{
    width: 70%;
}
.cabecalho .esquerda{
    width: 90%;
    margin-left: -200px;
}
.cabecalho h1{
    margin-bottom: 50px;
    color: var(--back-ligth);
}
.cabecalho p{
    text-align: justify;
}
main{
    width: 100vw;
}
main nav{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-black);
}
main nav ol{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}
main nav ol li a{
    width: 500px;
    padding: 10px;
    color: var(--font-ligth);
    font-size: 1.2rem;
}
main nav ol li a:hover{
    background-color: var(--font-ligth);
    border: solid 1px var(--back-ligth);
    color: var(--back-black);
    border-radius: 5px;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee {
    display: inline-block;
    position: absolute;
    will-change: transform;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
#universo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #000;
    /*background-image: url("../artes/fundo.jpg") no-repeat center center fixed;*/
    padding: 200px;
    gap: 200px;
}
.gravidade{
    display: block;
    width: 100vw;
    height: 500px;
    height: auto;
}
.marginE{
    display: flex;
    flex-direction: row-reverse;
}
.marginD{
    display: flex;
    flex-direction: row;
}
.planetas img{
    cursor: pointer;
    width: 400px;

}
.planetas:hover .bandeira{
    width: 300px;
    animation: up 1s ease-out;
}
.planetas:not(:hover) .bandeira{
   display: none;
}
.bandeira{
    position: absolute;
}
.cordenada01{
    margin-left: 100px;
    margin-top: -20px;
}
.cordenada02{
    margin-right: 140px;
    margin-top: -40px;
}
.cordenada03{
    margin-left: -20px;
    margin-top: -90px;
}
.cordenada04{
    margin-right: 160px;
    margin-top: -100px;
}
.WhatsBtn{
    position:fixed;
    width: 80px;
    height: 80px;
    bottom:20px;
    right:20px;
    padding:15px;
    border-radius: 50%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    margin: 30px;
}


@media (max-width: 800px) {
    .menuPagina #burguer_menu{
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 0;
    }
    .cabecalho{
        height: 30vh;
    }
    .cabecalho .direita{
        margin-top: 50px;
        width: 100%;
        margin-left: -100px;
    }
    .cabecalho .esquerda{
        margin-top: 60px;
        width: 180%;
        margin-left: -50px;
    }
    main nav ol li a{
        font-size: 0.8rem;
    }
}