.logo{
    position: fixed;
    top: 0px;
    text-align: center;
    width: 100px;
    z-index: 1;
}
.logo img{
    width: 150px;
}
header{
    margin-top: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 400px;
}
.cabecalho{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.cabecalho div{
    width: 50%;
    text-align: center;
}
.cabecalho .direita{
    margin-top: -30px;
    width: 70%;
    margin-left: -200px;
}
.cabecalho .esquerda{
    width: 130%;
    margin-left: -220px;
}
main{
    width: 100vw;
}
main nav{
    margin-top: 0px;
    width: 100%;
    height: 60px;
    display: block;
    background-color: var(--back-black);
    font-family: "Agrandir", sans-serif;
}
main nav ol{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main nav ol li a{
    color: var(--font-ligth);
    font-size: 1.2rem;
    justify-items: center;
    align-items: center;
}
main nav ol li a img{
    width: 60px;
    margin-top: 7px;
}
.marquee {
    position: fixed;
    top: 5px;
    font-family: "Agrandir", sans-serif;
    align-items: center;
    justify-items: center;
    padding-top: 5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: var(--back-ligth);
}
.marquee span {
    display: inline-block;
    animation: marquee 30s linear infinite;
    margin-right: 20px;
    color: var(--font-ligth);
}
#universo{
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 200px;
    gap: 200px;
}
.gravidade{
    display: block;
    width: 100vw;
    height: 500px;
    height: auto;
    justify-items: center;
    justify-content: center;
}
.marginE{
    margin-right: -200px;
}
.marginD{
    margin-right: 200px;
}
.planetas img{
    cursor: pointer;
    width: 400px;

}
.planetas:hover .bandeira{
    width: 400px;
    animation: up 1s ease-out;
}
.planetas:not(:hover) .bandeira{
   display: none;
}
.bandeira{
    position: absolute;
}
.cordenada01{
    margin-left: -100px;
    margin-top: -150px;
}
.cordenada02{
    margin-top: -130px;
    margin-left: -100px;
}
.cordenada03{
    margin-left: 50px;
    margin-top: -100px;
}
.cordenada04{
    margin-top: -200px;
    margin-left: -120px;
}
.WhatsBtn{
    position:fixed;
    bottom:0;
    right:0;
    border-radius: 50%;
    border: 1px greenyellow;
    margin: 30px;
    animation: pulsar 1.5s infinite;
}
.WhatsBtn img{
    max-width: 60px;
}

@media (max-width: 800px) {
    .logo img{
        width: 100px;
    }
    header{
        height: 150px;
    }
    .cabecalho{
        margin-top: 30px;
        height: 100%;
        width: 100%;
    }
    .cabecalho .esquerda{
        margin-top: 10px;
        width: 100%;
        margin-left: -50px;
    }
    main nav{
       height: 30px;
    }
    main nav ol li a{
        font-size: 0.7rem;
    }
    main nav ol li a img{
        width: 40px;
        margin-top: 6px;
    }
    .marquee{
        padding-top: 2px;
    }
    .marquee span {
        font-size: 0.7rem;
    }
    #universo{ 
        padding: 100px;
        gap: 100px;
    }
    .planetas img{
        cursor: pointer;
        width: 300px;
    }
}