.logo{
    position: fixed;
    top: 0;
    text-align: center;
    width: 100px;
    z-index: 1;
}
.logo img{
    width: 100px;
}
.cabecalho{
    width: 100vw;
    height: 40vh;
    background-color: var(--font-ligth);
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.cabecalho div{
    width: 50%;
    text-align: center;
}
.cabecalho .direita{
    width: 70%;
}
.cabecalho .esquerda{
    width: 90%;
    margin-left: -200px;
}
main{
    width: 100vw;
}
main nav{
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    background-color: var(--back-black);
}
main nav ol{
    border: 1px #000;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main nav ol li a{
    color: var(--font-ligth);
    font-size: 1.2rem;
    align-items: center;
}
main nav ol li a img{
    width: 70px;
}
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 5px;
    background-color: var(--back-ligth);
}

.marquee span {
    display: inline-block;
    animation: marquee 30s linear infinite;
    margin-right: 20px;
    color: var(--font-ligth);
    text-shadow: 1px 1px 2px #000;
}

#universo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #000;
    /*background-image: url("../artes/fundo.jpg") no-repeat center center fixed;*/
    padding: 200px;
    gap: 200px;
}
.gravidade{
    display: block;
    width: 100vw;
    height: 500px;
    height: auto;
}
.marginE{
    display: flex;
    flex-direction: row-reverse;
}
.marginD{
    display: flex;
    flex-direction: row;
}
.planetas img{
    cursor: pointer;
    width: 400px;

}
.planetas:hover .bandeira{
    width: 300px;
    animation: up 1s ease-out;
}
.planetas:not(:hover) .bandeira{
   display: none;
}
.bandeira{
    position: absolute;
}
.cordenada01{
    margin-left: 100px;
    margin-top: -20px;
}
.cordenada02{
    margin-right: 140px;
    margin-top: -40px;
}
.cordenada03{
    margin-left: -20px;
    margin-top: -90px;
}
.cordenada04{
    margin-right: 160px;
    margin-top: -100px;
}
.WhatsBtn{
    position:fixed;
    width: 80px;
    height: 80px;
    bottom:20px;
    right:20px;
    padding:15px;
    border-radius: 50%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    margin: 30px;
}


@media (max-width: 800px) {
    header{
        height: 120px;
    }
    .cabecalho{
        height: 100%;
        width: 100%;
    }
    .cabecalho .esquerda{
        margin-top: 10px;
        width: 100%;
        margin-left: -50px;
    }
    main nav{
       height: 25px;
    }
    main nav ol li a{
        font-size: 0.7rem;
    }
    main nav ol li a img{
        width: 40px;
    }
    .marquee span {
        font-size: 0.7rem;
    }
    #universo{ 
        padding: 100px;
        gap: 100px;
    }
    .planetas img{
        cursor: pointer;
        width: 300px;
    }
}