#navbar{
    height: auto;
}
#navbar_container{
    flex-direction: column;
    padding: 20px 0;
}
#navbar_hamburguer{
    display: block;
}
#navbar_items{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.logo{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 50%;
}
#navbar_items > li:nth-child(2){
    border-top: 1px solid var(--blakColor_3);
    border-bottom: 1px solid var(--blakColor_3);
}
/*Showcase*/
#showcase_container{
    padding: 40px;
}
/* Clients */
.clients_container{
    grid-template-columns: repeat(2, 1fr);
}
.client{
    width: 50%;
}

/* Features */
#features_container{
    grid-template-columns: 1fr;
}

#features_container > .feature:nth-child(2){
    margin: 15px 0;
}

/* Product */
#product_container{
    flex-direction: column;
}
#product_container > #items{
    width: 90%;
}
#product_container > #items > .item{
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#product_container > #items > .item i{
    font-size: 2.3rem;
}
/* Testimonials */
.testimonial{
    flex-direction: column;
    text-align: center;
}
/*Gallerry*/
#gallerry{
    margin: 10px;
    padding: 10px;
}
#gallerry_container{
    grid-template-columns: 1fr;
}
.gallerry_image{
    width: 70vw;
}